<div class="header-img"></div>

<!-- TITLE -->
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="50px">
  <h1 fx class="welcome-text">Join the Community</h1>
</div>

<mat-divider vertical style="height:60px"></mat-divider>
<!-- ABOUT US -->
<div fxLayout="row" fxLayoutAlign="center">
  <h2 fx class="join-text" style="z-index: 1; color: white;">We want to assure only the best quality music and verified
    artists
    on our platform. That's why Unchained music is <strong>invite-only</strong> for now.
  </h2>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <h2 fx class="join-text" style="z-index: 1; color: white;">
    Join our community and get a chance to become a seller.
  </h2>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="50px">

<!-- SUBSCRIBE FORM -->
  <form ngNoForm class="example-form"
    action="https://unchained-music.us1.list-manage.com/subscribe/post?u=143d9e5ae6e2c989106ad5af7&amp;id=866a037eff"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank"
    novalidate>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" value="" name="EMAIL"  matInput placeholder="Ex. pat@example.com">
      <!-- No robots allowed -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
        name="b_143d9e5ae6e2c989106ad5af7_866a037eff" tabindex="-1" value=""></div>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center">
      <button name="subscribe" id="mc-embedded-subscribe"class="subscibe-button" mat-raised-button type="submit">
        Subscribe
      </button>
    </div>
  </form>
</div>

<mat-divider vertical style="height:60px"></mat-divider>

<div fxLayout="row" fxLayoutAlign="center">
  <h2 fx class="join-text" style="z-index: 1; color: white;">
    Or give us a shout on our Discord:
  </h2>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <a style="z-index: 1;" href="https://discord.gg/khWp4PUkt7" target="_blank">
    <img class="img-discord" src="../../../../assets/social/discord.svg">
  </a>
</div>
