<form [formGroup]="userForm">
  <div class="p-fluid p-formgrid p-grid">
    <div style="text-align: center;" class="p-field p-col-12 p-md-12 p-p-4">
      <h2>Are you an artist?</h2>
      <p-toggleButton formControlName="isArtist" onLabel="Yes" offLabel="No" [onIcon]="'pi pi-check'"
        offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>
    </div>

    <div *ngIf="userForm.get('isArtist')?.value" class="p-field p-col-12 p-md-12">
      <label style="color: yellow;">*You will be registered as a pending artist. In order to verify yourself as an
        artist , please contact us
        on discord or by email after finishing this form.</label>
    </div>


    <div class="p-field p-col-12 p-md-12">
      <label for="firstname">Name</label>
      <input formControlName="name" id="name" type="text" pInputText>
      <mat-error *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        {{getValidationMessage(userForm,'name')}}</mat-error>
    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="firstname">Bio</label>
      <textarea formControlName="bio" rows="5" cols="30" pInputTextarea></textarea>
      <mat-error *ngIf="userForm.get('bio')?.invalid && userForm.get('bio')?.touched">
        {{getValidationMessage(userForm,'bio')}}</mat-error>
    </div>
    <!-- GENRES AND OCCUPATIONS WILL BE ADDED IN THE NEXT VERSION -->

    <!-- <div *ngIf="userForm.get('isArtist')?.value" class="p-field p-col-12 p-md-6">
      <label for="city">Occupations</label>
      <p-multiSelect [options]="occupations" formControlName="occupations" optionLabel="name"></p-multiSelect>
      <mat-error *ngIf="userForm.get('artistNoccupationsame')?.invalid && userForm.get('occupations')?.touched">
        {{getValidationMessage(userForm,'occupations')}}</mat-error>

    </div>
    <div *ngIf="userForm.get('isArtist')?.value" class="p-field p-col-12 p-md-6">
      <label for="city">Genres</label>
      <p-multiSelect [options]="genres" formControlName="genres" optionLabel="name"></p-multiSelect>
      <mat-error *ngIf="userForm.get('genres')?.invalid && userForm.get('genres')?.touched">
        {{getValidationMessage(userForm,'genres')}}</mat-error>
    </div> -->

    <div class="p-field p-col-12 p-md-12">
      <label for="city">Twitter</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">twitter.com/</span>
        <input formControlName="twitter" id="city" label="Twitter" type="text" pInputText>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Facebook</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">facebook.com/</span>
        <input formControlName="facebook" id="city" label="Facebook" type="text" pInputText>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Instagram</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">instagram.com/</span>
        <input formControlName="instagram" id="city" label="Instagram" type="text" pInputText>
      </div>
    </div>




    <div style="text-align: center;" class="p-field p-col-12 p-md-12">
      <div style="padding: 10px;"> <label>Upload profile picture</label></div>
      <p-avatar [style]="{'width':'10rem','height':'10rem'}"
        [image]="userForm.get('profilePic')?.value || '../../assets/images/testUserProfile.jpg'" styleClass="p-m-4"
        size="xlarge">
      </p-avatar>

      <p-fileUpload [files]="uploadedFile" #fubauto mode="basic" name="demo[]" customUpload="true" accept="image/*" maxFileSize="1000000"
        (uploadHandler)="myUploader($event)" [auto]="true" chooseLabel="Browse">
      </p-fileUpload>
      <mat-error *ngIf="userForm.get('profilePic')?.invalid && userForm.get('profilePic')?.touched">
        {{getValidationMessage(userForm,'profilePic')}}</mat-error>
    </div>

    <div class="p-col-6">
      <button (click)="submit()" pButton pRipple type="button" label="Confirm" class="p-button-raised"></button>
    </div>
    <div class="p-col-6">
      <button (click)="closeDialog()" pButton pRipple type="button" label="Cancel"
        class="p-button-raised p-button-secondary"></button>
    </div>
  </div>
</form>
<p-toast key="myKey1" position="bottom-center"></p-toast>
