<p-toast key="myKey1" position="bottom-center"></p-toast>
<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
<form [formGroup]="userForm">
  <div [hidden]="activeIndex != 0" style="text-align: center;" class="stepsdemo-content">
    <p-card [style]="{'background':'#12161c'}">
      <ng-template pTemplate="subtitle">
        Upload a profile picture so you can be recognized <br>
        <p style="color: white;">400x400 size preferred</p>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div style="text-align: center;" class="p-field p-col-12 p-md-12">
            <div style="padding: 10px;"> </div>
            <p-avatar [style]="{'width':'10rem','height':'10rem'}"
              [image]="userForm.get('profilePic')?.value || '../../assets/images/testUserProfile.jpg'"
              styleClass="p-m-4" size="xlarge">
            </p-avatar>

            <p-fileUpload [files]="uploadedFile" #fubauto mode="basic" name="demo[]" customUpload="true"
              accept="image/*" maxFileSize="1000000" (uploadHandler)="myUploader($event)" [auto]="true"
              chooseLabel="Browse">
            </p-fileUpload>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-justify-end">
          <p-button label="Next" tooltipPosition="top"
            [pTooltip]="userForm.get('profilePic')?.invalid ? 'Profile picture is required': 'Proceed to next step'"
            [disabled]="userForm.get('profilePic')?.invalid" (onClick)="nextPage()" icon="pi pi-angle-right"
            iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div [hidden]="activeIndex != 1" style="text-align: center;" class="stepsdemo-content">
    <p-card [style]="{'background':'#12161c'}">
      <ng-template pTemplate="subtitle">
        Help everyone to get to know you better
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div style="text-align: center;" class="p-field p-col-12 p-md-12 p-p-4">
            <h2>Are you an artist?</h2>
            <p-toggleButton formControlName="isArtist" onLabel="Yes" offLabel="No" [onIcon]="'pi pi-check'"
              offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>
          </div>

          <div *ngIf="userForm.get('isArtist')?.value" class="p-field p-col-12 p-md-12">
            <label style="color: yellow;">*You will be registered as a pending artist. In order to verify yourself as an
              artist , please contact us
              on discord or by email after finishing this form.</label>
          </div>


          <div class="p-field p-col-12 p-md-12">
            <label for="firstname">Name</label>
            <input formControlName="name" id="name" type="text" pInputText>
            <mat-error *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
              {{getValidationMessage(userForm,'name')}}</mat-error>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" pInputText>
            <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
              {{getValidationMessage(userForm,'email')}}</mat-error>
          </div>

          <div class="p-field p-col-12 p-md-12">
            <label for="firstname">Short bio about yourself</label>
            <textarea formControlName="bio" rows="5" cols="30" pInputTextarea></textarea>
            <mat-error *ngIf="userForm.get('bio')?.invalid && userForm.get('bio')?.touched">
              {{getValidationMessage(userForm,'bio')}}</mat-error>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid">
          <div class="p-col-6">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
          </div>
          <div class="p-col-6">
            <p-button label="Next"
              [pTooltip]="userForm.get('name')?.invalid || userForm.get('bio')?.invalid ? 'Fill out the required fields': 'Proceed to next step'"
              [disabled]="userForm.get('name')?.invalid || userForm.get('bio')?.invalid" (onClick)="nextPage()"
              icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div [hidden]="activeIndex != 2" style="text-align: center;" class="stepsdemo-content">
    <p-card [style]="{'background':'#12161c'}">
      <ng-template pTemplate="subtitle">
        Let everyone know where they can contact you
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div class="p-field p-col-12 p-md-12">
            <label for="city">Twitter</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">twitter.com/</span>
              <input formControlName="twitter" id="city" label="Twitter" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">Facebook</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">facebook.com/</span>
              <input formControlName="facebook" id="city" label="Facebook" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">Instagram</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">instagram.com/</span>
              <input formControlName="instagram" id="city" label="Instagram" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">Beatport</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">beatport.com/artist/</span>
              <input formControlName="beatport" id="city" label="Beatport" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">LinkedIn</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">linkedin.com/in/</span>
              <input formControlName="linkedIn" id="city" label="LinkedIn" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">SoundCloud</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">soundcloud.com/</span>
              <input formControlName="soundCloud" id="city" label="SoundCloud" type="text" pInputText>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-12">
            <label for="city">BandCamp</label>
            <div class="p-inputgroup">
              <input formControlName="bandCamp" id="city" label="BandCamp" type="text" pInputText>
              <span class="p-inputgroup-addon">bandcamp.com/</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid">
          <div class="p-col-6">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
          </div>
          <div class="p-col-6">
            <p-button label="Finish" (onClick)="submit()" icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</form>
