  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-12">
      <label for="firstname">Artist Name</label>
      <input id="firstname" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="city">Occupations</label>

      <p-multiSelect [options]="occupations" [(ngModel)]="selectedOccupations" optionLabel="name"></p-multiSelect>

    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="city">Genres</label>

      <p-multiSelect [options]="genres" [(ngModel)]="selectedGenres" optionLabel="name"></p-multiSelect>

    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="city">Twitter</label>
      <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Facebook</label>
      <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Instagram</label>
      <input id="city" type="text" pInputText>
    </div>


    <div class="p-field p-col-12 p-md-12">
      <label>Upload profile picture</label>
      <p-fileUpload #fubauto mode="basic" name="demo[]" customUpload="true" accept="image/*" maxFileSize="1000000"
        (uploadHandler)="myUploader($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
    </div>

    <p-button (click)="closeDialog()" label="Confirm" styleClass="p-button-text"></p-button>
    <p-button (click)="closeDialog()" label="Cancel" styleClass="p-button-text"></p-button>

  </div>
  <p-toast key="myKey1" position="bottom-center"></p-toast>

