<div class="p-grid">
  <div class="p-col-12 cover-photo">
    <div style="float: right;padding: 5px;">
      <button label="Edit Profile" pButton pRipple (click)="viewProfile()" type="button" icon="pi pi-cog"
        class="p-button-rounded"></button>
    </div>
    <p-avatar [image]="user?.profilePic || '../../assets/images/testUserProfile.jpg'" styleClass="p-mr-2" size="xlarge"
      shape="circle">
    </p-avatar>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12 p-lg-3">
    <div style="padding-top: 0;" class="box box-stretched">
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}">

        <h1 style="padding-top: 15%;">Bio</h1>
        <p>{{user?.bio}}
        </p>
      </p-card>
    </div>
  </div>
  <div style="text-align: center;" class="p-col-12 p-md-12 p-lg-9">
    <div style="padding-top: 50px;" class="box">
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}"
        [header]="user?.name || 'Your Name'">
        <div class="footer-divider">
          <p-divider></p-divider>
        </div>
        <h2>@{{user?.name || 'YourName'}}</h2>
      </p-card>

    </div>
  </div>


</div>



<div style=" margin-bottom: 15%;" class="p-grid nested-grid">
  <div class="p-col-12 p-md-12 p-lg-3">
    <div class="box box-stretched ">
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}">

        <h1>Wallet</h1>
        <p-chip [label]="user?.publicAddress" styleClass="custom-chip"></p-chip>
        <h1>Socials</h1>
        <div style="text-align: center;">

          <a [href]="'https://www.instagram.com/'+user?.instagram ||'the.unchained.music'" target="_blank">
            <img class="img-social" src="../../../../assets/social/instagram.svg">
          </a>
          <a [href]="'https://www.facebook.com/'+user?.facebook ||'groups/theunchainedmusic'" target="_blank">
            <img class="img-social" src="../../../../assets/social/facebook.svg">
          </a>
          <a [href]="'https://twitter.com/'+user?.twitter ||'UnchainedMusic2'" target="_blank">
            <img class="img-social" src="../../../../assets/social/twitter.svg">
          </a>
        </div>
      </p-card>
    </div>
  </div>


  <div class="p-col-12 p-md-12 p-lg-9">
    <div class="p-grid">
      <div class="p-col-12">
        <div style="padding-top: 0 !important;" class="box">
          <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
        </div>
      </div>
      <div class="p-col-12">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
