.title {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

:host ::ng-deep .p-avatar img {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 22%;
  border-radius: 50%;
  margin-left: 20%;
  border-style: solid;
  border-color: white;
}
:host ::ng-deep .p-avatar img {
  @media (max-width: 550px) {
    margin-top: 80%;
    margin-left: 80%;
  }
}

.cover-photo {
  background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BgrICs-NZj4hksnn3/videoblocks-blue-cloud-of-smoke-slowly-spreading-and-floating-in-the-air-nice-background-for-your-text-blue-and-red-cloud-of-dense-smoke_rjnw8p-kdn_thumbnail-1080_01.png);
  background-color: white;
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
a {
  padding-left: 5px;
  padding-right: 5px;
}
.fa-stack {
  font-size: 0.7em;
}

h1 {
  color: #ff66c4;
}

.job-title {
  color: #7c8097;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.desc {
  font-size: 20px;
  color: #b7b8c0;
  text-align: center;
}

.color-b {
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}

.color-c {
  background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.color-d {
  background: linear-gradient(to bottom right, #6452e9, #639ff9);
}
.circule {
  border-radius: 50%;
  border: none;
  margin: 10px;
  height: 60px;
  width: 60px;
  color: #ffffff;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

:host::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: inherit !important;
}

:host::ng-deep .p-card .p-card-title {
  font-size: 3.7rem;
  font-weight: 700;
  padding: 10px;
  color: #ff66c4;
}

:host::ng-deep .p-card .p-card-title {
  @media (max-width: 550px) {
    font-size: 2.5rem;
  }
}

:host::ng-deep.p-card .p-card-content {
  padding: 0;
}
h2 {
  font-size: 2rem;
  letter-spacing: 5px;
}
.img-social {
  height: 40px;
}
.curve-box {
  border-radius: 20px;
}
.box {
  padding: 20px;
}
:host ::ng-deep .footer-divider .p-divider-solid.p-divider-horizontal:before {
  border-color: #523494;
  border-width: 2px;
}
:host ::ng-deep .p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
  margin-bottom: 5px;
  margin-top: 5px;
}
:host::ng-deep.p-button.p-button-text {
  background-color: transparent;
  color: white;
  border-color: none;

}
:host::ng-deep.p-button.p-button-text:hover {
  color: black;


}



