:host ::ng-deep .p-avatar img {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 22%;
  border-radius: 50%;
  margin-left: 20%;
  border-style: solid;
  border-color: white;
}
:host ::ng-deep .p-avatar img {
  @media (max-width: 550px) {
    margin-top: 80%;
    margin-left: 80%;
  }
}

.cover-photo {
  background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BgrICs-NZj4hksnn3/videoblocks-blue-cloud-of-smoke-slowly-spreading-and-floating-in-the-air-nice-background-for-your-text-blue-and-red-cloud-of-dense-smoke_rjnw8p-kdn_thumbnail-1080_01.png);
  background-color: white;
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
a {
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  color: #ff66c4;
}

:host::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: inherit !important;
}

:host::ng-deep .p-card .p-card-title {
  font-size: 3.7rem;
  font-weight: 700;
  padding: 10px;
  color: #ff66c4;
}

:host::ng-deep .p-card .p-card-title {
  @media (max-width: 550px) {
    font-size: 2.5rem;
  }
}

:host::ng-deep.p-card .p-card-content {
  padding: 0;
}
h2 {
  font-size: 2rem;
  letter-spacing: normal;
}
.img-social {
  height: 40px;
}
.box {
  padding: 10px;
}
:host ::ng-deep .footer-divider .p-divider-solid.p-divider-horizontal:before {
  border-color: #523494;
  border-width: 2px;
}
:host ::ng-deep .p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
  margin-bottom: 5px;
  margin-top: 5px;
}
:host::ng-deep.p-button.p-button-text {
  background-color: transparent;
  color: white;
  border-color: none;
}
:host::ng-deep.p-button.p-button-text:hover {
  color: black;
}
