<div class="p-grid">
  <div class="p-col-12 cover-photo">
    <div *ngIf="isLocalUser" style="float: right;padding: 5px;">
      <button label="Edit Profile" pButton pRipple (click)="editProfile()" type="button" icon="pi pi-cog"
        class="p-button-rounded"></button>
    </div>
    <p-avatar [image]="user?.profilePic || '../../assets/images/testUserProfile.jpg'" styleClass="p-mr-2" size="xlarge"
      shape="circle">
    </p-avatar>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12 p-lg-3">
    <div style="padding-top: 0;" class="box box-stretched">
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}">

        <h1 style="padding-top: 15%;">Bio</h1>
        <p>{{user?.bio}}
        </p>
      </p-card>
    </div>
  </div>
  <div style="text-align: center;" class="p-col-12 p-md-12 p-lg-9">
    <div>
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}"
        [header]="user?.name || 'Your Name'">
        <div class="footer-divider">
          <p-divider></p-divider>
        </div>
        <h2>@{{user?.name || 'YourName'}}</h2>
      </p-card>
    </div>
  </div>
</div>

<div style=" margin-bottom: 15%;" class="p-grid nested-grid">
  <div class="p-col-12 p-md-12 p-lg-3">
    <div class="box box-stretched ">
      <p-card [style]="{'border-radius':'20px','background-color':'rgb(12 11 11)'}">

        <h1>Wallet</h1>
        <div style="text-align: center;">
          <p-chip [label]="truncateText(user?.publicAddress || '',22)" styleClass="custom-chip"> <button pButton pRipple
              type="button" icon="pi pi-copy" pTooltip="Copied!" tooltipPosition="top" life="1000" tooltipEvent="focus"
              (click)="copyToClipboard(user?.publicAddress)" class="p-button-rounded p-button-text"></button></p-chip>
        </div>
        <p-divider></p-divider>
        <h1>Socials</h1>
        <div style="text-align: center;">

          <a *ngIf="user?.instagram" [href]="'https://www.instagram.com/'+user?.instagram" target="_blank">
            <img class="img-social" src="../../../../assets/social/instagram.svg">
          </a>
          <a *ngIf="user?.facebook" [href]="'https://www.facebook.com/'+user?.facebook" target="_blank">
            <img class="img-social" src="../../../../assets/social/facebook.svg">
          </a>
          <a *ngIf="user?.twitter" [href]="'https://twitter.com/'+user?.twitter" target="_blank">
            <img class="img-social" src="../../../../assets/social/twitter.svg">
          </a>
          <a *ngIf="user?.linkedIn" [href]="'https://linkedin.com/in/'+user?.linkedIn" target="_blank">
            <img class="img-social" src="../../../../assets/social/linkedIn.svg">
          </a>
          <a *ngIf="user?.beatport" [href]="'https://beatport.com/artist/'+user?.beatport" target="_blank">
            <img class="img-social" src="../../../../assets/social/beatport.svg">
          </a>
          <a *ngIf="user?.soundCloud" [href]="'https://soundcloud.com/'+user?.soundCloud" target="_blank">
            <img class="img-social" src="../../../../assets/social/soundcloud.svg">
          </a>
          <a *ngIf="user?.bandCamp" [href]="'https://'+user?.bandCamp + '.bandcamp.com'" target="_blank">
            <img class="img-social" src="../../../../assets/social/bandcamp.svg">
          </a>
        </div>
      </p-card>
    </div>
  </div>


  <div class="p-col-12 p-md-12 p-lg-9">
    <div class="p-grid">
      <div class="p-col-12">
        <div style="padding-top: 0 !important;" class="box">
          <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
        </div>
      </div>
      <div class="p-col-12">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
