<h1 style="padding-top:20px ;font-weight: bold; text-align: center;">Kraftwerk Unreleased Track</h1>

<p-fieldset legend="Description">
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
</p-fieldset>



<div style="margin-top:30px" class="card">
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div style="text-align: center;" class="box">
        <h3 style="color: #c950aa">Current Bid</h3>
        <div style="padding-left: 20%;padding-right: 20%;" class="footer-divider">
          <p-divider></p-divider>
        </div>
        <h3>400 *</h3>

      </div>
    </div>
    <div class="p-col-2">
      <p-divider layout="vertical">
      </p-divider>
    </div>
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div style="text-align: center;" class="box">
        <h3 style="color: #c950aa">Ending in</h3>
        <div style="padding-left: 20%;padding-right: 20%;" class="footer-divider">
          <p-divider></p-divider>
        </div>
        <h3>2 days</h3>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 30px;" class="p-grid">
  <div style="text-align: center;" class="p-col-12">

    <button style="width: 60%;" pButton pRipple type="button" label="Place a bid" class="p-button-raised p-button-lg"></button>

  </div>


</div>
