.img {
  height: 211px;
  padding: 0px 0px 0px 0px;
}

:host ::ng-deep .nft-card .p-card {
  border-radius: 20px 20px 20px 20px;
  background: #0d1014;
}

:host ::ng-deep .ngx-d-flex {
  color: #523494 !important;
}
:host ::ng-deep.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #a34ec1 !important;
}
:host::ng-deep mat-card {
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
}
:host ::ng-deep.mat-slider-thumb {
  background-color: #a34ec1 !important;
}

:host ::ng-deep .footer-divider .p-divider-solid.p-divider-horizontal:before {
  border-color: #523494;
  border-width: 2px;
}

:host ::ng-deep .middle-divider .p-divider-solid.p-divider-horizontal:before {
  border-color: #e45db1;
  border-width: 2px;
}

:host ::ng-deep .nft-card .p-card .p-card-body {
  background: #0d1014;
  border-radius: 20px 20px 20px 20px;
}

:host ::ng-deep .nft-card .p-card .p-card-content {
  padding: 0;
}
:host ::ng-deep.p-inplace .p-inplace-display {
  font-size: 1rem;
  font-weight: bold;
}
:host ::ng-deep.p-inplace .p-inplace-display:hover {
  background-color: #e45db1;
}

h1 {
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
}

.header-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: 211px;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: end;
}

.img-overlay:before {
  content: " ";
  display: block;
  height: 50%;
}
