.content {
  padding: 16px;
  height: 100%;
  background-color: #12161c;
  position: fixed;
}
.header-img {
  background-image: url(../../assets/images/bg1.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: inherit;
  background-size: cover;
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.header-img:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: linear-gradient(to top, #12161c 10%, rgba(0, 0, 0, 0) 100%);
}
.welcome-text {
  color: #fff !important;
  font-weight: 700 !important;
  /* margin-bottom: 25% !important; */
  font-size: 4.5rem;
  line-height: 1.2;
  z-index: 1;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  margin-top: 120px;
}
.about-us-text {
  width: 800px !important;
  text-align: center;
}
.guide-text {
  color: #fff !important;
  font-weight: 700 !important;
  /* margin-bottom: 25% !important; */
  font-size: 4.5rem;
  line-height: 1.2;
  z-index: 1;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 50px;
}
.explore-music-button {
  border-color: #c02afe;
  position: relative;
  color: #fff;
  border-style: solid;
  border-radius: 10px;
  font-size: large;
  border-width: 1px;
  margin: 10px;
  width: 15%;
  height: 60px;
  min-width: 160px;
}

h2 {
  z-index: 1;
  color: white;
  width: 500px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

label {
  z-index: 1;
  width: 500px;
  color: grey;
  text-align: center;
}
span {
  color: white;
  z-index: 1;
  font-size: 3rem;
  padding-top: 40px;
  font-weight: bold;
}

/* .pull-right-paragraph
{
  margin-left: 60px;
} */

a {
  background: linear-gradient(
    90deg,
    hsla(293, 93%, 47%, 0.9) 0%,
    hsla(304, 100%, 78%, 0.9) 50%
  );
  font-size: 1rem;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
a:hover {
  cursor: pointer;
}

@media (max-width: 550px) {
  .welcome-text {
    font-size: 4rem;
  }
  .youtube-vid {
    width: 350px !important;
    height: 300px !important;
  }
  h2 {
    font-size: 1rem;
  }

  .guide-text {
    font-size: 3rem;
    padding-top: 15px;
  }
  :host ::ng-deep .p-button.p-button-lg {
    width: 150px !important;
    height: 70px;
  }

  .sponsor-img {
    width: 200px !important;
  }
}
:host ::ng-deep .p-button-label {
  color: white;
}

:host ::ng-deep .p-button.p-button-lg {
  font-size: 1.5rem;
  width: 250px;
  height: 70px;
}
.p-mt-6 {
  margin-top: 7rem !important;
}

.left-padding {
  margin-left: 10px;
}
.right-padding {
  margin-right: 10px;
}
.youtube-vid {
  width: 900px;
  height: 500px;
}
.sponsor-img {
  z-index: 1;
  width: 450px;
}
.sponsor-text {
  z-index: 1;
  color: white;
  padding-top: 30px;
  padding-right: 20px;
}
