.img-social {
  height: 40px;
}
.img-fixed-size {
  width: 40px;
  height: 40px;
}
.img-fixed-size2 {
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  padding: 5px;
}
a:hover {
  opacity: 1;
}
.copyright {
  color: white;
}
