<p-divider></p-divider>

<footer>
  <div class="p-d-flex p-jc-center">
    <a href="mailto:info@unchained-music.com">
      <img class="img-social" src="../../../../assets/social/email.svg">
    </a>
    <a href="https://discord.gg/khWp4PUkt7" target="_blank">
      <img class="img-social" src="../../../../assets/social/discord.svg">
    </a>
    <a href="https://www.instagram.com/the.unchained.music/" target="_blank">
      <img class="img-social" src="../../../../assets/social/instagram.svg">
    </a>
    <a href="https://www.facebook.com/groups/theunchainedmusic" target="_blank">
      <img class="img-social" src="../../../../assets/social/facebook.svg">
    </a>
    <a href="https://twitter.com/UnchainedMusic2" target="_blank">
      <img class="img-social" src="../../../../assets/social/twitter.svg">
    </a>

  </div>
  <div class="p-d-flex p-jc-center p-m-2">
    <a href="#">Home</a>
    <a href="#">Music</a>
    <a href="#">Artists</a>
    <a href="#">Terms</a>
    <a href="#">Privacy Policy</a>
  </div>
  <div class="p-d-flex p-jc-center">
    <img class="img-fixed-size" src="../../../../assets/images/UnchaunedLogo.png">
    <p class="copyright p-mt-2">Unchained Music © 2021</p>
    <img class="img-fixed-size2" src="../../../../assets/images/polygon-logowhite.svg">

  </div>
</footer>
