<div style="text-align: center; margin-top: 3%; margin-bottom: 5%;" class="demo-container p-p-4">
  <h1 class="big-hyped-title">
    <span style="color: #FF65C3;">Club der Visionäre</span> &
    <span style="color: #FF65C3;">Unchained Music</span>
    <hr> Making History
  </h1>
</div>


<!-- <div class="main">
      <div class="chat-box">
        <div class="message-area">
          <header>
            <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="" />
          </header>
          <div class="message" *ngFor="let message of msgInboxArray">
            <p>{{ message.userName }}</p>
            <p>{{ message.msgTxt }}</p>
          </div>
        </div>
        <div class="input-area">
          <form (submit)="send()" name="messageForm">
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
            <input placeholder="Type your message" type="text" name="message" id="message"
              [(ngModel)]="msgDto.msgTxt" />
            <button pButton pRipple type="button" icon="pi pi-send" class="p-button-rounded"></button>
          </form>
        </div>
      </div>
    </div> -->


<div style="text-align: center;" class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4 ">
    <div class="box"> <iframe class="youtube-video" src="https://www.youtube.com/embed/1712u2fr3o4"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe></div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4 middle-column"></div>
  <div class="p-col-12 p-md-6 p-lg-4">
    <div class="box">
      <div class="box" style="padding: 5%;">
        <h1 class="info-title">
          Make history with us</h1>
        <span class="add-line-spacing"
          style="font-weight:bold;font-size:1.2rem;color: gray; padding-top: 40px; overflow-wrap: anywhere;">
          <p>We're super-excited to announce the first ever live streaming by <span style="color: white;">Club der
              Visionäre</span>, one of the most
            notorious clubs from the world capital of electronic music- Berlin.
          </p>
          <p> <span style="color: white;">When & where</span>: 1st of May at 10am (GMT+2) here at
            unchained-music.com/stream</p>
          <p> What about the fundraising? The money raised will go to CDV, which burned down two years ago, to the
            artists involved in this project and towards rebuilding the music community that suffered immensely during
            these devastating stage for the live music industry. For this last part, we'll join forces with MusiCares,
            a charity by Grammy.com, which provides a safety net of critical assistance for music people in times of
            need.
          </p>

          <p> There will be 10 "CDV's exclusive live anniversary set" NFTs sold via this event. They will be auctioned
            one by one, lasting throughout the whole week (until the 8th of May).
          </p>

          <p> We want to spread the message of musicians being there for other musicians, stepping together to help
            rebuild and refresh the music community.
          </p>
          <p-button label="Count me in" styleClass="p-button-lg"></p-button>
        </span>
      </div>
    </div>
  </div>

</div>
