<div style="text-align: center; margin-top: 5%; margin-bottom: 5%;" class="demo-container p-p-4">
  <h1 style="font-weight:bolder;font-size:7rem;color: white;">Big <span style="color: #FF65C3;">Hyped</span> Title</h1>
</div>


<div class="p-grid nested-grid">
  <div style="text-align: center;" class="p-col-8 p-pl-4 p-pt-4">
    <iframe style="width: 1100px;height: 653px; " src="https://www.youtube.com/embed/ietU5yUJ7zk"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>


  <div class="p-col-4">
    <div style="text-align: center; margin-right: 20px  !important;" class="p-grid p-flex-column">
      <div style="margin-top: 10%;" class="p-col-12 p-p-4">
        <div class="box">
          <h1 style="font-weight:bolder;font-size:4rem;color: white;">Info About Event</h1>
          <h3 style="font-weight:bold;font-size:2rem;color: gray; padding-top: 40px; overflow-wrap: anywhere;">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
          </h3>
        </div>
      </div>
      <div class="p-col-12">
        <div class="box">
          <p-button label="Count me in" styleClass="p-button-lg"></p-button>

        </div>
      </div>

    </div>
  </div>

</div>
