mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;

}
mat-card{
  border-radius: 20px;
}

.imgs {
  height: 50px;
  width: 50px;
}

