<div style="margin-left:20%;margin-right:20%;margin-top: 3%;margin-bottom: 3%;" class="p-grid nested-grid">
  <div class="p-col-2">
  </div>
  <div style="background: #31394d; border-radius: 20px 0px 0px 20px; padding-top: 20px;" class="p-col-3">
    <div class="box box-stretched" style="text-align: end;margin:10px">
      <p-avatar image="../../../assets/images/daft.jpg" size="xlarge" shape="circle">

      </p-avatar>

    </div>
  </div>
  <div style="background: #31394d;  border-radius: 0px 20px 20px 0px;" class="p-col-5">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="box">
          <h1 class="title" style="color: white;margin-top: 40px; ">Richie Hawtin
            <span class="fa-stack fa-1x">
              <i class="fa fa-certificate fa-stack-2x"></i>
              <i style="color: black;" class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
        </div>
      </div>
      <div class="p-col-12">
        <div class="box">
          <p class="job-title"> DJ,Record Producer, Remixer</p>
        </div>
      </div>
      <div class="p-col-12">
        <div class="box">
          <div class="desc top">
            <p>Trance, Techno , Minimal Techno</p>
          </div>
        </div>
      </div>

      <div style="text-align:center" class="p-col-12 ">
        <div class="box">
          <button class="color-b circule"><i class="fa fa-facebook"></i> </button>
          <button class="color-d circule"><i class="fa fa-instagram"></i></button>
          <button class="color-c circule"><i class="fa fa-twitter"></i></button>
        </div>
      </div>

    </div>
  </div>
  <div class="p-col-2">
  </div>

</div>

<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-8">
    <div class="box">
      <p-tabView>
        <p-tabPanel header=" My Collection">
          My collection
        </p-tabPanel>
        <p-tabPanel header="My Bids">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Header 3">
          Content 3
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="p-col-2"></div>
