<div class="p-grid">
  <div class="p-col-12 cover-photo">

    <p-avatar image="https://avatarfiles.alphacoders.com/126/126136.jpg" styleClass="p-mr-2" size="xlarge"
      shape="circle">
    </p-avatar>

  </div>
</div>



<!-- <div style="margin-top: 5%;" class="p-grid nested-grid">
  <div class="p-col-4">
    <div class="box box-stretched">
      <div style="text-align: center;">
        <h1 style="color: white;">@Artist</h1>

      </div>
      <div style="margin-left: 40px;margin-right: 40px;">
        <p-fieldset legend="Bio">
          Content
        </p-fieldset>
      </div>
    </div>
  </div>
  <div class="p-col-8">
    <div class="p-grid">

      <div class="p-col-10">
        <div class="box">
          <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

        </div>
      </div>
    </div>
  </div>

</div> -->
