<div style=" padding-left: 20px; text-align: center;">
  <div style="padding: 20px;">
    <h1 style=" color: white;">Browse by name</h1>
    <input [style]="{'width': '30%'}" type="text" pInputText placeholder="Search">
  </div>
  <h1 style=" color: white;">Browse by genre
  </h1>
  <p-toggleButton onLabel="Techno" offLabel="Techno" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
  <p-toggleButton onLabel="House" offLabel="House" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
  <p-toggleButton onLabel="Rap" offLabel="Rap" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Jazz" offLabel="Jazz" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Rock" offLabel="Rock" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Metal" offLabel="Metal" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
</div>
<p-divider></p-divider>

<div style="margin-bottom: 5%;"></div>
<div style="color: white; text-align: center; margin-left: 10%;margin-right: 10%" class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let artist of artists">
    <div class="grid-7 element-animation">
      <!--card-1-->
      <div [routerLink]="['artist-details']" routerLinkActive="router-link-active" class="card color-card">

        <img [src]="artist.image" alt="profile-pic" class="profile">
        <h1 class="title">{{artist.FullName}}</h1>
        <p class="job-title"> {{artist.Occupations}}</p>
        <div class="desc top">
          <p>{{artist.Genres}}</p>
        </div>
        <button class="btn color-a top"> See collections</button>

        <hr>
        <div class="container">
          <div class="content">
            <div class="grid-2">
              <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-info"></button>

            </div>
            <div class="grid-2">
              <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded"></button>
              <!-- <h2 class="title">16k</h2>
                <p class="followers">Followers</p> -->
            </div>
            <div class="grid-2">
              <button pButton pRipple type="button" icon="pi pi-instagram" class="p-button-rounded p-button-danger"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast key="myKey1" position="bottom-center"></p-toast>
