<div style=" padding-left: 20px; text-align: center;">
  <div style="padding: 20px;">
    <h1 style=" color: white;">Browse by name</h1>
    <input [style]="{'width': '30%'}" type="text" pInputText placeholder="Search">
  </div>
  <h1 style=" color: white;">Browse by genre
  </h1>
  <p-toggleButton onLabel="Techno" offLabel="Techno" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
  <p-toggleButton onLabel="House" offLabel="House" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
  <p-toggleButton onLabel="Rap" offLabel="Rap" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Jazz" offLabel="Jazz" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Rock" offLabel="Rock" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}">
  </p-toggleButton>
  <p-toggleButton onLabel="Metal" offLabel="Metal" onIcon="pi pi-check" offIcon="pi pi-times"
    [style]="{'width': '10em','margin':'10px'}"></p-toggleButton>
</div>
<p-divider></p-divider>
<div class="p-grid p-jc-end p-mr-4 p-mt-2 p-mb-2">
  <p-button (click)="showDialog()" icon="pi pi-plus" styleClass="p-button"></p-button>

</div>
<div style="margin-bottom: 5%;"></div>
<div style="color: white; text-align: center; margin-left: 10%;margin-right: 10%" class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let artist of artists">
    <div class="grid-7 element-animation">
      <!--card-1-->
      <div [routerLink]="['artist-details']" routerLinkActive="router-link-active" class="card color-card">

        <img [src]="artist.image" alt="profile-pic" class="profile">
        <h1 class="title">{{artist.FullName}}</h1>
        <p class="job-title"> {{artist.Occupations}}</p>
        <div class="desc top">
          <p>{{artist.Genres}}</p>
        </div>
        <button class="btn color-a top"> See collections</button>

        <hr>
        <div class="container">
          <div class="content">
            <div class="grid-2">
              <button class="color-b circule"><i class="fa fa-facebook"></i> </button>

            </div>
            <div class="grid-2">
              <button class="color-c circule"><i class="fa fa-twitter"></i></button>
              <!-- <h2 class="title">16k</h2>
                <p class="followers">Followers</p> -->
            </div>
            <div class="grid-2">
              <button class="color-d circule"><i class="fa fa-instagram"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Dialogs , modals and popups go here -->
<p-dialog header="Add new artist" [(visible)]="displayResponsive" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-12">
      <label for="firstname">Artist Name</label>
      <input id="firstname" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="city">Occupations</label>

      <p-multiSelect [options]="occupations" [(ngModel)]="selectedOccupations" optionLabel="name"></p-multiSelect>

    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="city">Genres</label>

      <p-multiSelect [options]="genres" [(ngModel)]="selectedGenres" optionLabel="name"></p-multiSelect>

    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="city">Twitter</label>
      <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Facebook</label>
      <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="city">Instagram</label>
      <input id="city" type="text" pInputText>
    </div>


    <div class="p-field p-col-12 p-md-12">
      <label>Upload profile picture</label>
      <p-fileUpload #fubauto mode="basic" name="demo[]" customUpload="true" accept="image/*" maxFileSize="1000000"
        (uploadHandler)="myUploader($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
    </div>

  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button (click)="displayResponsive=false" label="Confirm" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<p-toast key="myKey1" position="bottom-center"></p-toast>
