<h1 style="padding:20px ;font-weight: bold; text-align: center;">{{track?.title}}</h1>
<p-fieldset legend="Description">
  <h4>{{track?.description}}</h4>
</p-fieldset>



<div style="margin-top:30px" class="card">
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div style="text-align: center;" class="box">
        <h3 *ngIf="track?.auction" style="color: #c950aa">Current Bid</h3>
        <h3 *ngIf="track?.listing" style="color: #c950aa">Reserve price</h3>
        <div style="padding-left: 20%;padding-right: 20%;" class="footer-divider">
          <p-divider></p-divider>
        </div>
        <h3>{{track?.auction?.bids[track?.auction?.bids.length - 1]?.amount || track?.listing?.price || track?.auction?.price}} MATIC</h3>

      </div>
    </div>
    <div *ngIf="track?.auction" class="p-col-2">
      <p-divider layout="vertical">
      </p-divider>
    </div>

    <div *ngIf="track?.auctionEnding" class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div style="text-align: center;" class="box">
        <h3 style="color: #c950aa" *ngIf="track?.auctionEnding > 0" >Ending in</h3>
        <h3 style="color: #c950aa" *ngIf="track?.auctionEnding  <= 0" >Finished</h3>
        <div style="padding-left: 20%;padding-right: 20%;" class="footer-divider">
          <p-divider></p-divider>
        </div>
        <cd-timer *ngIf="track?.auctionEnding > 0" [startTime]="track?.auctionEnding" [countdown]="true"></cd-timer>
      </div>
    </div>

  </div>
</div>
<div style="margin-top: 30px;" class="p-grid">
  <div *ngIf="!track?.isSold" style="text-align: center;" class="p-col-12">

    <button (click)="placeBidOrPurchase(track.auction.id, track.isAuctioned)" *ngIf="track?.isAuctioned && track?.auctionEnding  > 0" style="width: 60%;"
      pButton pRipple type="button" label="Place a bid" class="p-button-raised p-button-lg"></button>
    <button (click)="placeBidOrPurchase(track.listing.id,track.isAuctioned)" *ngIf="track?.isListed" style="width: 60%;"
      pButton pRipple type="button" label="Purchase" class="p-button-raised p-button-lg"></button>
      <button *ngIf="track?.isAuctioned && track?.auctionEnding  <= 0" (click)="endAuction()" style="width: 60%;"
      pButton pRipple type="button" label="Finalize Auction" class="p-button-raised p-button-lg"></button>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
