<app-responsive-toolbar>

</app-responsive-toolbar>
<div fxLayout="column" fxFlexFill>

  <router-outlet></router-outlet>

  <div style="z-index: 1; background-color: #12161c; margin-top: 80px; height: 100%;">
    <mat-divider style="background-color: grey;"></mat-divider>
    <div fxlayout="row" fxLayoutGap="20px">
      <img class="img-footer" src="../../../../assets/images/logo.png">
      <img class="img-social" src="../../../../assets/social/facebook.svg">
      <img class="img-social" src="../../../../assets/social/email.svg">
      <img class="img-social" src="../../../../assets/social/discord.svg">
    </div>
  </div>

</div>
