<div fxLayout="column" fxFlexFill>
  <app-responsive-toolbar style="z-index: 1;">

  </app-responsive-toolbar>
  <router-outlet></router-outlet>

  <div style="z-index: 1; background-color: #12161c; margin-top: 80px; height: 100%;">
    <p-divider></p-divider>
    <div fxShow.xs="false" fxLayout="row" fxLayoutAlign="space-evenly center">

      <div fxFlex.lg="33" fxFlexAlign="center center"><img class="img-fixed-size"
          src="../../../../assets/images/binance.png"></div>

      <div style="color: white;z-index: 1;" fxFlex.lg="33" fxLayoutGap="15px">
        <a href="mailto:info@unchained-music.com">
          <img class="img-social" src="../../../../assets/social/email.svg">
        </a>
        <a href="https://discord.gg/khWp4PUkt7" target="_blank">
          <img class="img-social" src="../../../../assets/social/discord.svg">
        </a>
        <a href="https://www.instagram.com/the.unchained.music/" target="_blank">
          <img class="img-social" src="../../../../assets/social/instagram.svg">
        </a>
        <a href="https://www.facebook.com/groups/theunchainedmusic" target="_blank">
          <img class="img-social" src="../../../../assets/social/facebook.svg">
        </a>
        <a href="https://twitter.com/UnchainedMusic2" target="_blank">
          <img class="img-social" src="../../../../assets/social/twitter.svg">
        </a>
      </div>
      <div fxflex.lg="33" fxFlexAlign="center">
        <img class="img-fixed-size" src="../../../../assets/images/logo.png">
      </div>

    </div>

    <div fxHide fxShow.lt-md fxLayout="row" fxLayoutAlign="space-around center">

      <div><img fxFlex class="img-fixed-size" src="../../../../assets/images/binance.png">
      </div>

      <div>
        <img fxFlex class="img-fixed-size" src="../../../../assets/images/logo.png">
      </div>

    </div>



    <div class="align-center" fxHide fxShow.lt-md fxlayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
      <a href="mailto:info@unchained-music.com">
        <img class="img-social" src="../../../../assets/social/email.svg">
      </a>
      <a href="https://discord.gg/khWp4PUkt7" target="_blank">
        <img class="img-social" src="../../../../assets/social/discord.svg">
      </a>
      <a href="https://www.instagram.com/the.unchained.music/" target="_blank">
        <img class="img-social" src="../../../../assets/social/instagram.svg">
      </a>
      <a href="https://www.facebook.com/groups/theunchainedmusic" target="_blank">
        <img class="img-social" src="../../../../assets/social/facebook.svg">
      </a>
      <a href="https://twitter.com/UnchainedMusic2" target="_blank">
        <img class="img-social" src="../../../../assets/social/twitter.svg">
      </a>
    </div>

  </div>
</div>
<!-- SCRIPT FOR TYPEFORM - Remove this when it is removed from the webpage -->
<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
