.greyed-out {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.wallet-img {
  width:"250px";
  height:"200px";
}

button {
  border-style: none;
  background-color: white;
  outline: none;

}
img {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
}

