<!-- <div style="padding-top:10%" fxLayout="row" fxLayoutAlign="center">
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card fxFlex class="mat-elevation-z4 z-depth">

        <img mat-card-image src="../../../../assets/images/daft.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>

          <div class="flex-container" fxLayout="row" fxLayoutAlign="center" style="padding-bottom: 20px;">
            <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
            muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"
            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
            [displayDuration]="msaapDisplayDuration" [expanded]="false"></ngx-audio-player>
          </div>
          <mat-card-title>
            Around the World - EP Limited Edition
          </mat-card-title>
          <mat-card-subtitle>Current bid 0.45 ETH</mat-card-subtitle>
          <mat-card-subtitle>Stock 1 of 1</mat-card-subtitle>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="start">
            <img mat-card-avatar src="../../../../assets/images/daft.jpg">
            <h3 class="owned-by gradient"></h3>
          </div>



        </mat-card-content>


      </mat-card>
    </div>
  </div>
</div> -->


<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
          (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter('sd','')">
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="product.image" [alt]="product.name" />
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart"
              [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
          <div class="product-grid-item-content">
            <img [src]="product.image" [alt]="product.name" />
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
