<div style=" padding-left: 20px; text-align: center;">


  <div class="demo-container p-p-4">
    <h1 style=" color: white;">Browse by name</h1>
    <input [style]="{'width': '30%'}" type="text" pInputText placeholder="Search by artist name, genre ...">
  </div>
</div>
<p-divider class="rad-border-color"></p-divider>

<div style="margin-bottom: 5%;"></div>
<div style="color: white; text-align: center; margin-left: 10%;margin-right: 10% " class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4 " *ngFor="let item of [].constructor(5)">
    <div class="grid-7 element-animation">
      <!--card-1-->
      <p-card header="Kraftwerk Unreleased Track" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img style="border-radius: 20px 20px 0px 0px;" alt="Card"
            src="https://i.pinimg.com/originals/67/f5/0e/67f50efd8c31d688171ac1e6538b69fb.jpg">
        </ng-template>
        <p-divider></p-divider>
        <h1>@Owner</h1>
        <ng-template pTemplate="footer">
          <div class="p-grid">
            <div class="p-col-6">
              <div style="text-align: center;" class="box">
                <h2>Current Bid</h2>
                <h3>0.33 ETH</h3>
              </div>

            </div>
            <div class="p-col-6">
              <div style="text-align: center;" class="box">
                <h2>Ending in</h2>

                <h3>12m 33s</h3>
              </div>

            </div>

          </div>

        </ng-template>
      </p-card>
    </div>
  </div>
</div>
