<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div [fxFlex]="(100/4) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card fxFlex class="mat-elevation-z4 z-depth">
        <mat-card-header>
          <img mat-card-avatar src="../../../../assets/images/daft.jpg">
          <mat-card-title>Daft Punk</mat-card-title>
          <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/images/daft.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h1>
            Around the World - EP Limited Edition
          </h1>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <div class="container">
            <div class="flex-container" fxLayout="row" fxLayoutAlign="center">
              <h2 mat-button class="current-bid" fxFlex="50%">Current Bid</h2>
              <h2 mat-button class="current-bid" fxFlex="50%">Ending in</h2>
            </div>
            <div class="flex-container" fxLayout="row" fxLayoutAlign="center">
              <h3 mat-button class="bid-value" fxFlex>0.45 ETH</h3>
              <h3 mat-button class="bid-value" fxFlex>10m 06s</h3>
            </div>
          </div>
          <!-- FLEX-CONTAINER - WRAP - INLINE STYLES FOR CORRECTION -->

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
