<!-- <div style=" padding-left: 20px; text-align: center;">
  <div style="padding: 20px;">
    <h1 style=" color: white;">Browse by name</h1>
    <input type="text" pInputText placeholder="Search">
  </div>
</div>
<p-divider></p-divider> -->

<div style="margin-bottom: 5%;"></div>
<div style="min-height:500px" *ngIf="artists.length > 0" class="p-grid side-margins">
  <div class="p-col-12 p-md-6 p-lg-4 bottom-margin" *ngFor="let artist of artists">
    <div class="grid-7 element-animation">
      <div (click)="navigateToDetails(artist.publicAddress)" class="card color-card">
        <img [src]="artist.profilePic" alt="profile-pic" class="profile">
        <h1 class="title">{{artist.name}}</h1>
        <button class="btn color-a top">See collections</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadedArtists && artists.length == 0" class="p-grid">
  <div style="text-align: center;margin-bottom: 10%;" class="p-col-12">
    <h2 style="color: white;">No artists found</h2>
    <p-avatar [style]="{'background':'inherit', 'color':'white'}" icon="pi pi-info-circle" styleClass="p-mr-2"
      size="xlarge"></p-avatar>
  </div>
</div>
<div style="height: 100px;"></div>
