body {
  background-color: #31394d;
}
.color-card {
  background: #181b21;
}

.title {
  padding-top: 20px;
  color: #ffffff;
}

* {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.top {
  margin-top: 16px;
}
.color-a {
  background: linear-gradient(to top right, #8162ce, #f54ba5);
}

.btn {
  border: none;
  height: 60px;
  color: #ffffff;
  width: 50%;
  font-size: 19px;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn:hover {
  border: solid 1px #da59b1;
  height: 60px;
  font-family: Roboto;
  color: #da59b1;
  background: #ffffff;
  width: 50%;
  border-color: linear-gradient(to top right, #8162ce, #f54ba5);
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-07,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  display: table-cell;
}

/*cards*/
body {
  background: #e2e1e0;
  text-align: center;
}

@media (max-width: 550px) {
  .card {
    display: table-cell !important;
  }

  .side-margins {
    margin-left: 0;
    margin-right: 0;
  }
  .bottom-margin {
    margin-bottom: 50px;
  }
}

:host::ng-deep.p-inputtext {
  width: 30%;
}

:host::ng-deep.p-inputtext {
  @media (max-width: 550px) {
    width: 80%;
  }
}

.card {
  border-radius: 6px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 375px;
  box-shadow: 0 12px 13px rgb(222 179 179 / 1%), 0 12px 13px rgb(222 179 179 / 10%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 12px 13px rgb(222 179 179 / 20%),
    0 12px 13px rgb(222 179 179 / 20%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-elevation {
  /*sombra*/
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
}

.profile {
  border-radius: 100%;
  margin-top: 60px;
  width: 160px;
  height: 158px;
}
.profile:hover {
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
}

.element-animation {
  animation: animationFrames ease 2s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.side-margins {
  color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
