<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-6">
    <div style="text-align: center; padding-top: 40px;" class="box"> <img style="border-radius: 20px; height: 400px;width: 450px;" alt="Card"
        [src]="environment +track?.imageLocation"></div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-6">
    <div class="box">
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
      <app-marketplace-item-details (bidSuccess)="onBidSuccess($event)" [track]="track" *ngIf="activeItem.id == '1'"></app-marketplace-item-details>
      <app-marketplace-item-bid-history [track]="track" *ngIf="activeItem.id == '2'"></app-marketplace-item-bid-history>
      <app-marketplace-item-ipfs-details  *ngIf="activeItem.id == '3'"></app-marketplace-item-ipfs-details>
    </div>
  </div>
</div>
