.menu-item {
  font-size: large;
  font-weight: bolder;
  color: black;
}

.img-logo {
  padding: 2px, 2px, 2px, 2px;
  height: 40px;
  outline: none;

}

mat-toolbar {
  background-color: #1F1F1F;
  min-height: 3.75rem;
  padding: .625rem 1 rem;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,.65);
  background: linear-gradient(0,transparent 5%,rgba(0,0,0,.65));
  transition-property:all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
button.mat-focus-indicator.mat-button.mat-button-base.ng-star-inserted {
  color: white !important;
}

.active {
 border-style: solid;
 border-width: 1px;
 border-color: white;
}
