<p-menubar (click)="onClickMenuItem($event)" [model]="items">
  <!-- TODO: All buttons should be the same size, bigger music and artists buttons -->
  <ng-template pTemplate="start">
    <img [routerLink]="['home']" routerLinkActive="router-link-active" src="../../../../assets/images/logo.png"
      height="50" class="p-mr-2">
  </ng-template>

  <ng-template pTemplate="end">

    <p-button *ngIf="!isWalletConnected" (click)="openWalletsModal()" icon="pi pi-sign-in" label="Connect wallet">
    </p-button>
    <p-button *ngIf="isWalletConnected" (click)="op.toggle($event)" icon="pi pi-user" label={{address}}>
    </p-button>

    <!-- TODO: On hover show publicAddress if user has a name, if not show publicAddress instead of name -->

  </ng-template>

</p-menubar>
<!-- TODO: overlaypanel padding is now 1rem, make it 0,2rem -->
<p-overlayPanel #op>
  <ng-template pTemplate>
    <button *ngIf="!isProduction" (click)="viewProfile(); op.hide()" pButton pRipple type="button" label="View Profile"
      icon="pi pi-fw pi-user" class="p-button-secondary p-button-text"></button>
    <button (click)="logout(); op.hide()" pButton pRipple type="button" label="Disconnect" icon="pi pi-fw pi-power-off"
      class="p-button-secondary p-button-text"></button>
  </ng-template>
</p-overlayPanel>
