.menu-item {
  font-size: large;
  font-weight: bolder;
  color: black;
}

.img-logo {
  padding: 2px, 2px, 2px, 2px;
  height: 40px;
  outline: none;

}

mat-toolbar {
  background-color: #12161c;
  /* border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: gold; */
}
button.mat-focus-indicator.mat-button.mat-button-base.ng-star-inserted {
  color: white !important;
}

.active {
  background-color: orange !important;
}
