<p-menubar (click)="onClickMenuItem($event)" [model]="items">
  <!-- TODO: All buttons should be the same size, bigger music and artists buttons -->
  <ng-template pTemplate="start">
    <img [routerLink]="['home']" routerLinkActive="router-link-active" src="../../../../assets/images/logo.png"
      height="50" class="p-mr-2">
  </ng-template>

  <ng-template pTemplate="end">

    <!-- TODO: On hover show publicAddress if user has a name, if not show publicAddress instead of name -->
    <button *ngIf="isWalletConnected && !isProduction" pButton pRipple type="button" label="Create NFT"
      class="p-button-rounded p-button-help"></button>
    <button pButton pRipple type="button" *ngIf="!isWalletConnected" (click)="openWalletsModal()" label="Connect wallet"
      icon="pi pi-sign-in" class="p-button-rounded p-button-danger"></button>
    <button *ngIf="isWalletConnected" (click)="op.toggle($event)" pButton pRipple type="button" label={{address}}
      icon="pi pi-sign-in" class="p-button-rounded p-button-danger"></button>
  </ng-template>

</p-menubar>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <button *ngIf="!isProduction" (click)="viewProfile(); op.hide()" pButton pRipple type="button" label="View Profile"
      icon="pi pi-fw pi-user" class="p-button-secondary p-button-text"></button>
    <button (click)="logout(); op.hide()" pButton pRipple type="button" label="Disconnect" icon="pi pi-fw pi-power-off"
      class="p-button-secondary p-button-text"></button>
  </ng-template>
</p-overlayPanel>
