<div class="header-img"></div>



<!-- TITLE -->
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="50px">
  <h1 fx class="welcome-text">The Music NFT Platform that cares for artists</h1>
</div>

<!-- ABOUT US -->
<div fxLayout="row" fxLayoutAlign="center center">
  <h2 class="about-us-text">Buy and sell unique, unreleased music records, rare samples
    and sounds.
  </h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:50px;">
  <div class="p-mr-4 p-p-2">
    <button  (click)="doTheThingWithTheTypeForm()" pButton pRipple type="button" label="Music"
      class="p-button-outlined p-button-lg"></button>
  </div>
  <div class="p-ml-4 p-p-2">

    <button  (click)="doTheThingWithTheTypeForm()" pButton pRipple type="button" label="Artists"
      class="p-button-outlined p-button-lg"></button>
  </div>
</div>

<!-- YOUTUBE VIDEO -->
<div fxLayout="row" fxLayoutAlign="center" style="position: relative; padding-top: 150px;">
  <iframe width="900" height="500" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
</div>

<!-- WE CARE FOR THE ARTIST START -->
<div fxLayout="row" fxLayoutAlign="center">
  <h1 fx class="guide-text">We care for the Artist</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>Get closer with your community</h2>
  <h2>A new revenue stream for you</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Music you wouldn't release usually shows fans who you are from different angles and helps
    you connect to your fan base even more. Moreover, there's always the added bonus of adding a personal
    touch to your music collectible's metadata, such as your signature, a personalized message or something
    uniquely yours.</label>
  <label>NFTs offer a new opportunity for you to publish and sell your music peer to peer, without a middleman.
     Selling music directly to your fans thus becomes a significant new revenue stream for you.
     Bye, bye greedy agencies & labels.  </label>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>More control over your own music</h2>
  <h2>Quality & simplicity first</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>The control over your music is in your hands. Easily mint and publish your music collectibles, decide on royalties,
    track your sales and current ownership and more.
  </label>
  <label>Music quality is our priority. We support only the best of formats (WAV, FLAC, IAFF, etc.)
     and all musical contributors are thoroughly checked and personally verified by our dedicated crew.
     You can simply <a (click)="doTheThingWithTheTypeForm()">APPLY HERE</a> to become an artist on Unchained Music. </label>
</div>
<!-- WE CARE FOR THE ARTIST END -->

<!-- COLLECT MUSIC LIKE NEVER BEFORE START -->
<div fxLayout="row" fxLayoutAlign="center">
  <h1 fx class="guide-text">Collect music like never before</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>A bridge from physical to digital</h2>
  <h2>Show love in a unique way</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>MBefore blockchain & NFTs, you could only collect music in physical formats, such as cassettes, CDs and vinyls.
    We have built a bridge from physical to digital, allowing you to buy and own true music digital collectibles. </label>
  <label>Upon purchase, you can write a personalized message to your favourite musician. Tell them why you love them and how
    they changed your life.</label>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>Supreme security</h2>
  <h2>Smooth and Straightforward</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Access your files in the most secure manner possible. We understand that if you buy a record,
    you want it to be safe with you. After purchase, your files are 100% secure and only accessible by you.
  </label>
  <label>We made purchasing a music NFT through Unchained Music a smooth & straightforward process.
    Collecting the tunes you love has never been easier. Check out our <a>HOW TO BUY A MUSIC NFT GUIDE</a>  for help. </label>
</div>
<!-- COLLECT MUSIC LIKE NEVER BEFORE END -->

<!-- TECHNICAL ADVANTAGES START -->
<div fxLayout="row" fxLayoutAlign="center">
  <h1 fx class="guide-text">Technical Advanatages</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>Cheap Transactions</h2>
  <h2>High Performance</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>The biggest obstacle in the current Ethereum blockchain based solutions are the ridiculous fees around transactions.
    In our effort to save your money, the decision to mount the BSC has lowered our overall fees up to 100x. </label>
  <label>Our platform is built with a focus on optimization, using next to none third-party integrations and code.
    The consensus mechanism behind Binance Smart Chain can produce a block every 3 seconds, which greatly improves
    the on-chain protocols, as opposed to the Ethereum blockchain that can produce a block in approximately 20 seconds.</label>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>Secure file storage, built for music</h2>
  <h2>Simple and easy to use</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Aside from having data on the blockchain, our server application uses caching methods
    which speed-up the process of minting NFTs, while securely storing the data on IPFS.
  </label>
  <label>Minting and selling your music NFTs should be easy. As a musical contributor,
    you are only a few clicks away from minting and selling your own musical NFT.
    On the other hand, you're litreally 2 clicks away from buying one. </label>
</div>
<!-- TECHNICAL ADVANTAGES END -->
