<div class="header-img"></div>



<div fxLayout="row" fxLayoutAlign="center">
  <h1 (click)="openWallets()" fx class="welcome-text">Music platform for artists, music lovers.</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <button mat-button class="explore-music-button">Explore music</button>
  <button mat-button class="explore-music-button">Explore artists</button>

</div>



<div fxLayout="row" fxLayoutAlign="center">
  <h1 fx class="guide-text">Easy to build, Easy to use</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <span>1</span>
  <h2>
    Gutenberg page builder with Loop Block plugin to build any type of loop contents
  </h2>
  <span>2</span>
  <h2>
    Play Block plugin build single, playlist and album music types on any posts
  </h2>

</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Loop post, page, taxonomy and users and with custom template and many filters to sort
    your loop
    contents.</label>
  <label>Create audio, radio, music entry is simple with Play Block plugin. With front-end upload
    form for user to
    upload their stations.</label>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <span>3</span>

  <h2>
    Front-end submission, User library with playlist, likes and followers & following
  </h2>
  <span>4</span>

  <h2>
    Light & Dark themes with landing pages and fully customizable features
  </h2>

</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Upload media stream from front-end for user and grab the waveform data. manage playlist
    and album.

  </label>
  <label>Light and dark theme with primary color. drag and drop to configure the menus and many
    other features to customize the site.</label>
</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <m-web3-modal style="z-index: 1;" title="Modal Title" description="Modal description" descriptionGray="Modal subtitle"
    dismissText="Text that will dismiss modal on click"></m-web3-modal>
</div>

<div style="z-index: 1;" class="content">



</div>
