<div class="header-img"></div>



<!-- TITLE -->
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="50px">
  <h1 fx class="welcome-text">The Music NFT Platform that cares for artists</h1>
</div>

<!-- ABOUT US -->
<div fxLayout="row" fxLayoutAlign="center center">
  <h2 class="about-us-text">Buy and sell unique, unreleased music records, rare samples
    and sounds.
  </h2>
</div>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:50px;">
  <button (click)="changeLabel()" mat-button class="explore-music-button">{{musicTitle}}</button>
  <button [routerLink]="['../artists']" routerLinkActive="router-link-active" mat-button
    class="explore-music-button">Artists</button>
</div>


<div fxLayout="row" fxLayoutAlign="center">
  <h1 fx class="guide-text">What makes us unique?</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <h2>
    High Performance
  </h2>
  <h2>
    Cheap Transactions
  </h2>

</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Our platform is built with a focus on optimization, using next to none third-party integrations and code.
    The consensus mechanism behind BSC(Binance Smart Chain) can produce a block every 3 seconds,
    which greatly improves the On-Chain protocols, as opposed to the Ethereum blockchain
    that can produce a block in approximately 20 seconds.</label>
  <label>The biggest obstacle in the current Ethereum blockchain based solutions are the ridiculous
    fees around transactions. In our effort to save your money, the decision to mount the BSC has
    lowered our overall fees for customers up to 10x </label>
</div>


<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">

  <h2>
    Secure file storage, built for music
  </h2>

  <h2>
    Simple and easy to use
  </h2>

</div>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <label>Aside from having data on the blockchain, our server application uses caching methods which speed-up
    the process of minting NFTs, while securely storing the data to IPFS. Unlike other NFT platforms that
    leave the original file exposed and freely available, our files are 100% secure and only accessible by the owner.
  </label>
  <label>We aim to give you a simple to use, seamless experience. Check our <a> NFT TOUR
      GUIDE</a> </label>
</div>
